<div id="div_forgot" ng-controller="forgotController as forgotCtrl">
    <!-- First screen -->
    <div id="div_enterUser" class="form" ng-show="!forgotCtrl.isUserExist">
        <label id="lbl_forgot" class="form-header">Forgot Your Password?</label>
        <form id="form_userForgotForm" name="userForm" ng-submit="forgotCtrl.getQuestions()" novalidate>
            <div class="form-line">
                <label for="input_userName" class="form-label" id="lbl_userName">User name:</label>
                <input class="form-input" id="input_userName" type="text" ng-model="forgotCtrl.userName" name="userNameInput" placeholder=" Enter User Name" ng-required="true" required>
                <p class="form-error" ng-show="userForm.userNameInput.$invalid && !userForm.userNameInput.$pristine" >User Name Is Required</p>
            </div>
            <input type="submit" class="form-button" value="Submit" ng-disabled="userForm.$invalid">
        </form>
        <div id="userName-fail">
            {{forgotCtrl.errorMessage}}
        </div>
    </div>
    <!-- Second screen -->
    <div id="div_getQuestions" ng-show="forgotCtrl.isUserExist" class="form">
        <label id="lbl_restore" class="form-header">Restore Password</label>
        <form id="form_restoreForm" name="restoreForm" ng-submit="forgotCtrl.restorePassword()">
            <div class="form-line">
                <label for="input_a1" class="form-label" id="lbl_q1">{{forgotCtrl.questions.q1}}</label>
                <input class="form-input" id="input_a1" type="text" ng-model="forgotCtrl.answers.a1" name="a1_Input" placeholder=" Enter Your Answer" ng-required="true" required>
                <p class="form-error" ng-show="restoreForm.a1_Input.$invalid && !restoreForm.a1_Input.$pristine" >Answer Is Required</p>
            </div>
            <div class="form-line">
                <label for="input_a2" class="form-label" id="lbl_q2">{{forgotCtrl.questions.q2}}</label>
                <input class="form-input" id="input_a2" type="text" ng-model="forgotCtrl.answers.a2" name="a2_Input" placeholder=" Enter Your Answer" ng-required="true" required>
                <p class="form-error" ng-show="restoreForm.a2_Input.$invalid && !restoreForm.a2_Input.$pristine" >Answer Is Required</p>
            </div>
            <input type="submit" class="form-button" value="Submit" ng-disabled="restoreForm.$invalid">
        </form>
        <div id="restore-fail">
            {{forgotCtrl.errorMessage}}
        </div>
    </div>

</div>