<div>
    <div id="div_about">
        <label id="about_label">About</label>
        <div id="about_paragraph">
            <p>
                <Hello><b>Hello</b>,</Hello>
                </br>This site was made as part of Development Environments course in Ben-Gurion University.
                </br> This site is our final project in this semestrial course and our first meeting with the powerful:
                <ul>
                    <li><b>Angular</b></li>
                    <li><b>Node.js</b></li>
                </ul>
                The main difficulties for this project were:
                <ul>
                    <li>Alot of pages to design (positioning and 'final touches' are always difficult)</li>
                    <li>Some errors when using Node.js and Angular are not indacative enough so its hard to understand the source
                        of those errors</li>
                    <li>Though we made pretty good job on the server, some adjustments was made when we understood the spirit
                        of angular client-side.</li>
                </ul>
                </br>
                <h2>
                    Links
                </h2>
                Here are the links for our previous projects in this course:
                </br>
                </br>
                <b>Ben personal website: <a href="https://levybeny.000webhostapp.com">Click Here For Ben Site!</a> </b>
                </br><b>Roy personal website:  <a href="https://kulik.000webhostapp.com">Click Here For Kulik Site!</a></b>
                </br><b>Our PacMan:   <a href="https://levybeny.github.io/">Click Here to play our PacMan!</a></b>
                </br>
                </br>
                We really tried to make this site useful and easy to use as possible. Hope you'll enjoy it!
                </br>
                </br>
                </br>
                <names>Roy Kulik And Ben Levy
                    <names>
            </p>
        </div>
    </div>