<div id="cart_container" ng-controller="cartController as cartCtrl">
    <div id="cart-middle">
        <label id="empty-cart-label" ng-show="cartCtrl.cartService.cart.length==0">Cart is Empty</label>
        <table id="cart_table" ng-show="cartCtrl.cartService.cart.length!=0">
            <tr>
                <th></th>
                <th>Product</th>
                <th>Color</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Remove from cart</th>
            </tr>
            <tr class="cartProduct" ng-repeat="product in cartCtrl.cartService.cart">
                <div class="cart_td">
                    <td><img ng-src="Resources/productsImg/{{product.productName}}.jpg" class="cart-img"></td>
                    <td>{{product.brand}} - {{product.productName}}</td>
                    <td>{{product.color}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <input type="number" placeholder={{product.buyQuantity}} ng-model="cartCtrl.cartService.quantity[$index]" min=1 max=15/>
                        </br>
                        <input id="update_quantity" type=button value="Update Quantity" ng-click="cartCtrl.cartService.setProductQuantity(product)"
                        />
                    </td>
                    <td>{{product.price*product.buyQuantity}} NIS</td>
                    <td><input type="submit" class="remove_button" value="" ng-click="cartCtrl.cartService.removeFromCart($index)"
                        /></br>
                    </td>
                </div>
            </tr>
        </table>
        <div class="cart-sum" ng-show="cartCtrl.cartService.cart.length!=0">
            <label> Total Amount : {{cartCtrl.cartService.cart.totalSum}} NIS</label>
            <button id="buy_button"> Buy Now </button>
        </div>
    </div>
</div>