<div id="div_login" ng-controller="loginController as loginCtrl">
    <div class="form" >
        <h1 class="form-header">Login Here</h1>
        <form name="loginForm" ng-submit="loginCtrl.login()" novalidate>
            <div class="form-line">
                <label class="form-label">User Name:</label>
                <input type="text" ng-model="loginCtrl.user.userName" ng-required="true" class="form-input" name="usernameInput" placeholder=" Enter User Name" required>
                <p  ng-show="loginForm.usernameInput.$invalid && !loginForm.usernameInput.$pristine" class="form-error">User Name Is Required</p>

            </div>
            <div class="form-line">
                <label class="form-label">Password:</label>
                <input type="password" ng-model="loginCtrl.user.password" ng-required="true" class="form-input" name="passwordInput" placeholder=" Enter Password" required>
                <p  ng-show="loginForm.passwordInput.$invalid && !loginForm.passwordInput.$pristine" class="form-error">Password Is Required</p>
            </div>
            <div class="form-line">
                <input type="submit" class="form-button" value="Login" ng-disabled="loginForm.$invalid">
            </div>
        </form>
        <div id="login-fail">
            {{loginCtrl.errorMessage}}
        </div>
        <div class="form-line">
            <u><a href="/#/forgotPassword" id="forgotPassword">Forgot Password?</a></u>
        </div>
    </div>
</div>

