<div id="div_main" ng-controller="productController as productCtrl">
    <div class="product_container">
        <div ng-repeat="product in productCtrl.productService.products" class="product product-view">
            <img ng-src="Resources/productsImg/{{product.productName}}.jpg" class="product-img grow .pic image-margin">
            <div class="product-actions-view">
                <div class="info-block-view">
                    <div class="product-title">{{product.productName}}</div>
                    <div class="product-description">{{product.brand}}</div>
                    <div class="product-prize">Price:{{product.price}} NIS</div>
                    <div class="add" ng-click="productCtrl.addToCart(product)" ng-show="productCtrl.userService.isLoggedIn">Add To Cart</div>
                </div>
            </div>
        </div>
    </div>