<div id="div_register" ng-controller="registerController as registerCtrl">
    <div class="reg-form">
        <h1 class="reg-form-header">Registration</h1>
        </br>
        <form id="registerForm" name="registerForm" ng-submit="registerCtrl.register()">
            <table class="reg-table">
                <tr>
                    <td colspan="2">
                        <h2 class="reg-sub-header"> Authentication Details</h2>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <!-- user Name -->
                        <label class="reg-form-label" for="userNameInput">User Name:</label>
                        <input type="text" ng-model="registerCtrl.user.userName" class="reg-form-input" name="userNameInput"
                            ng-minlength=3 ng-maxlength=8 letters-only required>

                        <div ng-messages="registerForm.userNameInput.$error" ng-if='registerForm.userNameInput.$touched' class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a user name</div>
                            <div ng-message="minlength">Your user name is too short</div>
                            <div ng-message="maxlength">Your user name is too long</div>
                            <div ng-message="lettersOnly">Invalid signs. All characters should be a-z/A-Z</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <!-- password -->
                        <label class="reg-form-label" for="passwordInput">Password:</label>
                        <input type="password" ng-model="registerCtrl.user.password" ng-required="true" class="reg-form-input" name="passwordInput"
                            ng-minlength=5 ng-maxlength=10 alpha-numeric required>


                        <div ng-messages="registerForm.passwordInput.$error" ng-if='registerForm.passwordInput.$touched' class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a password</div>
                            <div ng-message="minlength">Your password is too short</div>
                            <div ng-message="maxlength">Your password is too long</div>
                            <div ng-message="alphaNumeric">Invalid signs. All characters should be a-z/A-Z/0-9</div>
                        </div>
                    </td>
                </tr>
            </table>

            <table class="reg-table">
                <tr>
                    <td colspan="2">
                        <h2 class="reg-sub-header"> Personal Details</h2>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <!-- first name -->

                        <label class="reg-form-label" for="firstNameInput">First name:</label>
                        <input type="text" ng-model="registerCtrl.user.firstName" ng-required="true" class="reg-form-input" name="firstNameInput"
                             ng-minlength=2 ng-maxlength=20 letters-only required>


                        <div ng-messages="registerForm.firstNameInput.$error" ng-if="registerForm.firstNameInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a first name</div>
                            <div ng-message="minlength">Your first name is too short</div>
                            <div ng-message="maxlength">Your first name is too long</div>
                            <div ng-message="lettersOnly">Invalid signs. All characters should be a-z/A-Z</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <!-- last name -->

                        <label class="reg-form-label" for="lastNameInput">Last Name:</label>
                        <input type="text" ng-model="registerCtrl.user.lastName" ng-required="true" class="reg-form-input" name="lastNameInput" 
                            ng-minlength=2 ng-maxlength=20 letters-only required>


                        <div ng-messages="registerForm.lastNameInput.$error" ng-if="registerForm.lastNameInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a last name</div>
                            <div ng-message="minlength">Your last name is too short</div>
                            <div ng-message="maxlength">Your last name is too long</div>
                            <div ng-message="lettersOnly">Invalid signs. All characters should be a-z/A-Z</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <!-- mail -->

                        <label class="reg-form-label" for="mailInput">E-mail:</label>
                        <input type="email" ng-model="registerCtrl.user.mail" ng-required="true" class="reg-form-input" name="mailInput" >


                        <div ng-messages="registerForm.mailInput.$error" ng-if="registerForm.mailInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter an email</div>
                            <div ng-message="email">Please enter a valid email address</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <!-- birth date -->

                        <label class="reg-form-label" for="birthDateInput">Birth Date:</label>
                        <input type="date" ng-model="registerCtrl.user.birthDate" ng-required="true" class="reg-form-input" name="birthDateInput"
                            placeholder="yyyy-MM-dd" min="1900-01-01" max="2013-12-31" required>


                        <div ng-messages="registerForm.birthDateInput.$error" ng-if="registerForm.birthDateInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a birth date</div>
                            <div ng-message="date">Please enter a valid date</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <!-- country -->

                        <label class="reg-form-label" for="countrySelect"> Country :</label>
                        <select class="reg-form-input" name="countrySelect" ng-model="registerCtrl.user.country" ng-options="option for option in registerCtrl.data.countries"
                            ng-required="true">  </select>


                        <div ng-messages="registerForm.countrySelect.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a country</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <!-- city -->

                        <label class="reg-form-label" for="cityInput">City:</label>
                        <input type="text" ng-model="registerCtrl.user.city" ng-required="true" class="reg-form-input" name="cityInput" 
                            ng-minlength=2 ng-maxlength=50 letters-only required>


                        <div ng-messages="registerForm.cityInput.$error" ng-if="registerForm.cityInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a city</div>
                            <div ng-message="minlength">Your city is too short</div>
                            <div ng-message="maxlength">Your city is too long</div>
                            <div ng-message="lettersOnly">Invalid signs. All characters should be a-z/A-Z</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <!-- address -->

                        <label class="reg-form-label" for="addressInput">Address:</label>
                        <input type="text" ng-model="registerCtrl.user._address" ng-required="true" class="reg-form-input" name="addressInput"
                            ng-minlength=2 ng-maxlength=50 alpha-numeric required>


                        <div ng-messages="registerForm.addressInput.$error" ng-if="registerForm.addressInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter an address</div>
                            <div ng-message="minlength">Your address is too short</div>
                            <div ng-message="maxlength">Your address is too long</div>
                            <div ng-message="alphaNumeric">Invalid signs. All characters should be a-z/A-Z/0-9</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <!-- phone -->

                        <label class="reg-form-label" for="phoneInput">Phone:</label>
                        <input type="text" ng-model="registerCtrl.user.phone" ng-required="true" class="reg-form-input" name="phoneInput" 
                            ng-minlength=9 ng-maxlength=50 numeric required>


                        <div ng-messages="registerForm.phoneInput.$error" ng-if="registerForm.addressInput.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter a phone number</div>
                            <div ng-message="minlength">Your phone number is too short</div>
                            <div ng-message="maxlength">Your phone number is too long</div>
                            <div ng-message="numeric">Invalid signs. All characters should be 0-9</div>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- questions -->

            <table class="reg-table">
                <tr>
                    <td colspan="2">
                        <h2 class="reg-sub-header"> Restore Q&A</h2>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <label class="reg-form-label" for="question1Select">Question 1:</label>
                        <select class="reg-form-input" name="question1Select" ng-model="registerCtrl.question1" ng-options="option as option.question for option in registerCtrl.data.questions | diffQuestion:registerCtrl.question2"
                            ng-required="true"> </select>

                        <div ng-messages="registerForm.question1Select.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a question</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <label class="reg-form-label" for="ans1Input">Answer 1:</label>
                        <input type="text" ng-model="registerCtrl.ans1" ng-required="true" class="reg-form-input" name="ans1Input" >

                        <div ng-messages="registerForm.ans1Input.$error" ng-if="registerForm.ans1Input.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter an answer</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <label class="reg-form-label" for="question2Select">Question 2:</label>
                        <select class="reg-form-input" name="question2Select" ng-model="registerCtrl.question2" ng-options="option as option.question for option in registerCtrl.data.questions | diffQuestion:registerCtrl.question1"
                            ng-required="true">  </select>

                        <div ng-messages="registerForm.question2Select.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a question</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <label class="reg-form-label" for="ans2Input">Answer 2:</label>
                        <input type="text" ng-model="registerCtrl.ans2" ng-required="true" class="reg-form-input" name="ans2Input" >

                        <div ng-messages="registerForm.ans2Input.$error" ng-if="registerForm.ans2Input.$touched" class="reg-error" role="alert">
                            <div ng-message="required">You did not enter an answer</div>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- categories -->
            <table class="reg-table">
                <tr>
                    <td colspan="3">
                        <h2 class="reg-sub-header">Preferred Categories</h2>
                    </td>
                </tr>
                <tr>
                    <td class="reg-td">
                        <label class="reg-form-label" for="category1Select">Category 1:</label>
                        <select class="reg-form-input" name="category1Select" ng-model="registerCtrl.cat1" ng-options="option as option.categoryName for option in registerCtrl.data.categories | diffCategory:[registerCtrl.cat2,registerCtrl.cat3]"
                            required>  </select>


                        <div ng-messages="registerForm.category1Select.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a category</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <label class="reg-form-label" for="category2Select">Category 2:</label>
                        <select class="reg-form-input" name="category2Select" ng-model="registerCtrl.cat2" ng-options="option as option.categoryName for option in registerCtrl.data.categories | diffCategory:[registerCtrl.cat1,registerCtrl.cat3]"
                            required>  </select>


                        <div ng-messages="registerForm.category2Select.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a category</div>
                        </div>
                    </td>
                    <td class="reg-td">
                        <label class="reg-form-label" for="category3Select">Category 3:</label>
                        <select class="reg-form-input" name="category3Select" ng-model="registerCtrl.cat3" ng-options="option as option.categoryName for option in registerCtrl.data.categories | diffCategory:[registerCtrl.cat1,registerCtrl.cat2]"
                            required>  </select>


                        <div ng-messages="registerForm.category3Select.$error" class="reg-error" role="alert">
                            <div ng-message="required">Please choose a category</div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- Submit -->
            <div class="reg-form-line">
                <input type="submit" class="reg-form-button" value="Register" ng-disabled="registerForm.$invalid">
            </div>

        </form>

    </div>
</div>