#cart_container{
    height:100%;
    color:black;
    text-align: center;
font-family: 'Poppins', sans-serif;
border-collapse: collapse;
margin-top: 3em;
}

#cart-middle{
    position: absolute;
    width:80%;
    margin:0 10%;
}

.cartProduct{
    position:relative;
    left:5%;
    text-transform: capitalize;
    margin:1px;
}

#cart_container td{ 
    width: 12em;
    height: 7.5em;
    margin:0;
    padding: 0;
    border:0;
}

#cart_container tr{ 
    margin:0;
    padding: 0;
    border:0;
}

.cart-img{
    width:100%;
    height:100%;
    padding:0;
    border: 0;
    margin:0;
}
#cart_table th{
    width: 12em;
}

#cart_table tr:nth-child(even) {background-color: #f2f2f2}

#cart_table tr:nth-child(odd) {background-color: white}

.cart_quantity{
    width: 3em;
}

#cart_table{
    border-collapse: collapse;
    border: 3px solid brown;
}

.remove_button{
    margin:0px;
    border:0px;
    padding: 0px;
    width:20px;
    height:20px;
    background: url("../resources/remove.png"); 
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.remove_button:hover{
    cursor: pointer;
}

#update_quantity{
    width:auto;
    height:auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#empty-cart-label{
    font-size: 4em;
    width:auto;
    margin:0 auto;
}

#td_sum{
    font-size:1.5em;
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.cart-sum{
    position:relative;
    font-size:1.5em;
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.td_transparent{
    background-color: transparent;
}

#buy_button{
    font-family: 'Work Sans', sans-serif;
    position: relative;
    font: 1.5em sans-serif;
    border-radius: 10px;
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgb(169, 54, 54);
    color: white;
}

.DialogImg{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.DialogDiv{
    display: inline-block;
}

.DialogInfo{
    position: absolute;
    top: 20%;
    left: 250px;
}

.DialogHeader{
    font-weight: bold;

}


.ngdialog-content{
    border: 2px solid black;
    box-shadow: 10px 10px 5px #888888;
}