.form{
    position: absolute;
    display: block;
    top: 13em;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    width: 20em;
    border-style: solid;
    border-width: 1px;

}

.form-line{
    position: relative;
    width: 100%;
    margin: 0;
}

.form-header{
    display: table;
    white-space: nowrap;
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
    display: table-cell;
    width: 45%;
    letter-spacing: 3px;
    font: 2em sans-serif;
    text-align: center;
    font-weight: bolder;
    position: relative; 
    left: 95%;
}

.form-input{
    border: 1px solid black;
    height: 125%;
    font: 1.25em sans-serif;
    width: 100%;
}

.form-error{
    position: relative;
    left: 10%;
    font-weight: bold;
    font-size: 0.8em;
    color: red
}

.form-label{
   font: 1.25em sans-serif;
    font-weight: bold;
    color: rgb(90,90,90);
}

.form-button{
    font-family: 'Work Sans', sans-serif;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    font-size: 1.5em;
    font: 1.8em sans-serif;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;

}
.form-button:hover{
    cursor: pointer;
}

#forgotPassword{
    margin: 0;
    color: brown;
    position: relative;
    left:6.3em;
}

#forgotPassword:hover{
    cursor: pointer;
}

#login-fail{
    text-align: center;
    font: 0.8em sans-serif;
    color: red;
    font-weight: bold;
}

#div_register{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    height:100%;
}