#div_allProducts{
    width:75%; 
}

.product-view{
    display:inline-block;
}

#div_filterBar{
  border-top:1px solid brown;
    border-bottom:1px solid brown;
}

.info-block-view {
  margin-top:0.5px;
  position: absolute;
  height:120px;
  width:200px;
  margin-left: 15px;
  background: transparent;
  top:5px;
  margin-bottom:0px;
  z-index: 15; 
  transition:.7s;
}

.product-actions-view {
  background: transparent;
  overflow: hidden;
  margin:0px;
  transition:.7s;
  -webkit-transition:.7s;
}

.image-margin{
    margin-left:1.5em;
}

.category_checkbox{
  margin-left:10%;
  display: inline-block;
}

#div_filterBar input,label{
  font-size: 1em;
}

#div_sort{
  margin-top:1%;
  margin-left:10%;
}