#div_register{
height: auto;
}

.reg-form{
    position: absolute;
    display: block;
    top: 33%;
    left:50%;
   transform:translate(-50%,-15%);
   width: 100%;
}

#registerForm{
    width: 80%;
    margin: 0 auto;
}

.reg-form-input{
    width: auto;
    height:1.5em;
        font-size:1.4em;
}


.reg-form-header{
    border-bottom: 1px solid brown;
    border-top: 1px solid brown;
    width: 45%;
    letter-spacing: 3px;
    font: 2em sans-serif;
    text-align: center;
    font-weight: bolder;
    position: relative; 
    margin: 0 auto;

}

.reg-sub-header{
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font: 1.6em sans-serif;
}

.reg-form-label{
font: 1.5em sans-serif;
}

.reg-form-button{
font: 1.8em sans-serif;
border-radius: 10px;
width: 15%;
margin-bottom: 5%;
position: relative;
left: 40%;
}


.reg-table{
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5%;
box-shadow: 10px 10px 5px #888888;
}

.reg-error{
    color: red;
    font: 0.6em sans-serif;
    text-align: center;
}
 .reg-td{
     text-align: center;
     align-items: left;
 }
