body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    /* background-color: white; */
     background: url("../resources/bg1.jpg"); 
    background-size: cover;
}

a{
    color:black;
}

#div_login{
    height:100%;
    width:100%;
}

#div_navbar{
     background: url("../Resources/watch1.jpg");
    background-size: 100px, 100px;
    background-repeat: no-repeat;
    background-position-x: 0%; 
    position: absolute;
    top: 0;
    height: 25%;
    width: 100%;    
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.title{
    position: absolute;
font-family: 'Slabo 27px', serif;
    color: black;
}

/* Title Labels */
#lbl_title1{
    font-size: 59px;
    top:15%;
    left: 9%;
}

/* The menu different buttons styling */
#div_menu{
    position: absolute;
    border-radius: 10%; 
    left:38%;
    top:24%;
}

.menu_divs{
    align-items: flex-start;
    box-sizing: border-box;
    text-align: center;
    background-color: transparent;
font-family: 'Slabo 27px', serif;
    position: relative;
    color: black;
    width:130px;
    height:40px;
    top: 0;
    left: 15%;
    display: inline-block;
    border-radius: 7px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategray;
}


.menu_buttons{
    position: relative;
    left:0%;
    top:28%;
    transform:translate(-50%,-50%);
}



.menu_divs:hover{
    cursor: pointer;
}

.menu_divs{
    display: inline-block;
}

/* Cart  */
#div_cart
{
    position: absolute;
    right:12%;
    top:20%;
    
}


#div_brandsMenu{
    visibility: hidden;
    width:30px;
    height:30px;
    background-color: blue;
}

/* Register and login */
#div_registerLogin{
    position: absolute;
     right:4%;
     top:14%;
     text-align: center;
 }


#div_registerLogin a{
    display:block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#div_registerLogin label:hover{
    cursor:pointer;
}

#div_mainView{
    position: absolute;
    width:100%;
    height:80%;
    top: 20%;
    overflow: scroll;
}


footer{
    position: absolute;
    height:5%;
    width: 100%;
    bottom: 0%;
}